.list_link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
    min-width: 280px;
}
@media only screen and (max-width: 768px) {  .list_link{display: none;}  }