.header_main__search_form{
    display: flex;
    position: relative;
    width: 230px;
}
.header_main__search_input{
    width: 230px;
    height: 32px;
    border: 1px solid #94979c;
    padding: 8px 8px;
    background-color: #fafbfc;
    border-radius: 2px;
}
.search_form__button{
    background-color: #ffffff;
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 5px;
}
.header_main__search_input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background-color: rgba(255,255,255,0.0001);
    color: #003767;
    opacity: 0.4;
    padding: 5px;
}

.searchArea{
    width: 360px;
    border: 1px solid #000;
    max-height: 200px;
    overflow: auto;
}
.searchAnswer{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #003767;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchName{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.searchPrice{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}