/*Main container styles*/
.main_container{
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    max-width: 280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.filterSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categorySection{margin-top: 30px;}
.list_link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
}
.link,
.active_link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #003767;
    margin-bottom: 9px;
    cursor: pointer;
}
.link:last-child{
    margin-bottom: 0;
}

.active_link{
    color: #ff4822;
    position: relative;
    padding-left: 20px;
}
.active_link:before{
    content: '\25ba';
    position: absolute;
    top: 0;
    left: 0;
}
/*query*/
@media only screen and (max-width: 1200px) {  .aside{width: 30%;}  }
@media only screen and (max-width: 992px) {  .aside{width: 40%;}  }
@media only screen and (max-width: 768px) {  .list_link{display: none;}  }