.catalog_main__layout{
    display: grid;
    max-width: 1290px;
    margin: 0 auto;
    padding: 50px 20px 0 20px;
}
.catalogWrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.catalogMainContent{width: 930px;}

/*query*/
@media screen and (max-width: 1200px) { .catalog_main__layout{margin: 0;}  .catalogMainContent{width: 100%;}  }
@media only screen and (max-width: 768px) {  .catalogWrapper{display: flex; flex-direction: column;}  }