.emptyWishlist{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emptyWishlistBlock{
    background-color: #ffffff;
    width: 580px;
    height: 292px;
    border-radius: 2px;
    padding: 48px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emptyWishlistTitle{
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #003767;
    text-align: center;
}
.emptyWishlistText{
    margin-top: 15px;
    width: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #003767;
}
.buttonBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 15px;
}