.mainProductImageBlock{
    height: 273px;
    width: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    height: 280px;
    width: 300px;
    object-fit: contain;
}