.MyPriceFilter{
    display: flex;
    flex-direction: column;
    min-width: 230px;
    width: 100%;
    align-items: flex-start;
    gap: 15px;
    margin-top: 35px;
}

.MyPriceFilterInputsBlock{
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}