.productCartActionButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55px;
    position: absolute;
    top: 12px;
    right: 12px;
}
.actionButton{
    cursor: pointer;
}