.regular_slider_block{
    margin-top: 50px;
}
.slider_arrow_section{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 35px;
}
.slider_arrow_block:last-child:after{
    content: url("../../../assets/icons/slider_icons/arrow_slider_next.svg");
}
.slider_arrow_block:first-child:after{
    content: url("../../../assets/icons/slider_icons/arrow_slider_prev.svg");
}
.slider_arrow_block{
    width: 44px;
    height: 48px;
    background-color: #ffffff;
    border: 1px solid #003767;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
